n8n/workflows/kyc-workflow.json
{
  "name": "KYC Processing Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kyc-process",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "kyc-process"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.body.decision }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-approved",
      "name": "If Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.body.decision }}",
              "rightValue": "rejected",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-rejected",
      "name": "If Rejected",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "approve-url",
              "name": "approve_url",
              "value": "=http://172.17.0.1:8000/api/admin/internal/applications/{{ $json.body.application_id }}/approve",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-approve-url",
      "name": "Prepare Approve URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [550, 250]
    },
    {
      "parameters": {
        "url": "={{ $json.approve_url }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "change-this-in-production-use-secure-random-string"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": false,
        "options": {}
      },
      "id": "approve-action",
      "name": "Approve Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 250]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "reject-url",
              "name": "reject_url",
              "value": "=http://172.17.0.1:8000/api/admin/internal/applications/{{ $json.body.application_id }}/reject",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-reject-url",
      "name": "Prepare Reject URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [550, 450]
    },
    {
      "parameters": {
        "url": "={{ $json.reject_url }}",
        "authentication": "none",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "change-this-in-production-use-secure-random-string"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"reason\": $json.body.reasoning || \"Automated rejection\" } }}",
        "options": {}
      },
      "id": "reject-action",
      "name": "Reject Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 450]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-data",
              "name": "log",
              "value": "={{ { \"application_id\": $json.body.application_id, \"decision\": $json.body.decision, \"risk_score\": $json.body.risk_score } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [950, 350]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"processed\", \"application_id\": $json.body.application_id } }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1150, 350]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If Approved",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Rejected",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Approved": {
      "main": [
        [
          {
            "node": "Prepare Approve URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Approve URL": {
      "main": [
        [
          {
            "node": "Approve Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Rejected": {
      "main": [
        [
          {
            "node": "Prepare Reject URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Reject URL": {
      "main": [
        [
          {
            "node": "Reject Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve Action": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reject Action": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Result": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1",
  "meta": {
    "instanceId": "n8n"
  }
}
