n8n/workflows/kyc-workflow-simple.json
{
  "name": "KYC Processing Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kyc-process",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "kyc-process"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.decision }}",
              "operation": "equals",
              "value2": "approved"
            }
          ]
        },
        "options": {}
      },
      "id": "if-approved",
      "name": "If Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.decision }}",
              "operation": "equals",
              "value2": "rejected"
            }
          ]
        },
        "options": {}
      },
      "id": "if-rejected",
      "name": "If Rejected",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/admin/applications/={{ $json.body.application_id }}/approve",
        "authentication": "none",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "id": "approve-action",
      "name": "Approve Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 250]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/admin/applications/={{ $json.body.application_id }}/reject",
        "authentication": "none",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"reason\": $json.body.reasoning } }}",
        "options": {}
      },
      "id": "reject-action",
      "name": "Reject Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 450]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"processed\", \"application_id\": $json.body.application_id } }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 350]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If Approved",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Approved": {
      "main": [
        [
          {
            "node": "Approve Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Rejected": {
      "main": [
        [
          {
            "node": "Reject Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve Action": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reject Action": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

